<div class="container-fluid" style="margin-top:4rem;padding-left:17rem;">
  <form action="#">
    <div class="row card1">
      <div>
          <label for="projectName">Project Name</label>
          <input class="form-control" id="projectName">
      </div>
      <div style="padding-left:2rem">
        <label for="serverName">Server Name</label>
          <input class="form-control" id="serverName">
      </div>
      <div style="padding-left:2rem">
        <label for="description">Description</label>
          <input type="text" multiple="multiple" class="form-control" id="description">
      </div>
      <div style="margin-left:2rem; margin-top:1.8rem">
        <button type="Submit" class="btn btn-primary" style="width:5.5rem;">Submit</button>
        <button type="Reset" class="btn btn-dark" style="width:5.5rem;">Clear</button>
      </div>

    </div>
  </form>
</div>