<div class="container-fluid" style="margin-top:4rem;">
  <div class="rowStruct">
    <div class="infoBox blue-bg">
      <div class="title">CPU Utilizations</div>
      <i class="fas fa-microchip"></i>
      <div class="data">20%</div>
    </div>
    <div class="infoBox brown-bg">
      <div class="title">Capacity</div>
      <i class="far fa-hdd"></i>
      <div class="data">500GB</div>
    </div>
    <div class="infoBox dark-bg">
      <div class="title">RAM</div>
      <i class="fa fa-tasks"></i>
      <div class="data">4.3GB</div>
    </div>
    <div class="infoBox green-bg">
      <div class="title">Support</div>
      <i class="fas fa-headphones"></i>
      <div class="data">23</div>
    </div>
    <div class="infoBox skyblue-bg">
        <div class="title">Service</div>
        <i class="fas fa-archive"></i>
        <div class="data">23</div>
      </div>
  </div>
  <div>
    <div class="graphCard" style="height:400px; width:60%; float: left">
      <div id="container">
      </div>
    </div>
  </div>
  <div class="graphCard" style="height:400px; width:38%; float: left; margin-left:1rem;">
    <div id="container1"></div>
  </div>

</div>

<!-- 
<div class="container-fluid" style="margin-top:4rem;">

  <div class="row">



    <main role="main">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box blue-bg">
            <i class="fas fa-microchip"></i>
            <div class="count">20%</div>
            <div class="title">CPU Utilizations</div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box brown-bg">
            <i class="far fa-hdd"></i>
            <div class="count">500GB</div>
            <div class="title">Capacity</div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box dark-bg">
            <i class="fa fa-tasks"></i>
            <div class="count">4.3GB</div>
            <div class="title">RAM</div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box green-bg">
            <i class="fas fa-headphones"></i>
            <div class="count">23</div>
            <div class="title">Support</div>
          </div>
        </div>

      </div>
      <div>
        <div class="graphCard" style="height:400px; width:60%; float: left">
          <div id="container">
          </div>
        </div>
      </div>
      <div class="graphCard" style="height:400px; width:38%; float: left; margin-left:1rem;">
        <div id="container1"></div>
      </div>
    </main>

  </div>
</div> -->